* {
	box-sizing: border-box;
}

body {
	color: #878787;
	margin:0;
	padding: 0;
	font-family: 'Work Snas', sans-serif;
}

.main-header{
	height: 1200px;
	background: 
	url(Image/luca-bravo-112050.jpg) no-repeat top;
	background-size: cover;
	color:white;
	padding-top: 350px;
	text-align: center;
}


.title {
	font-size: 34px;
	font-family: 'Anton', sans-serif;
	letter-spacing: .8px;
	border-bottom: 2px solid;
	text-transform: uppercase;
}

h1 {
	font-size: 65px;
	line-height: .5;
	color: yellow;
	text-shadow: 0 15px 15px black;
}

.primary-content{
	width:100%;
	max-width: 960px;
	margin:0 auto;
	margin-bottom: 300px;
}

.intro {
	font-size: 40px;
	letter-spacing: -1px;
	line-height: 50px;
	color: darkgreen;
	margin-top: 300px;
}

.callout{
	font-size: 25px;
	margin-top: 30px;
}

a {
	color:lawngreen;
	text-decoration: none;
}

a:hover{
	color: grey;
}

wildlife {
	background: url(image/adam-willoughby-knox-56406.jpg)
	no-repeat center;
	background-size: cover;
	color: white;
	
}







